In [1]:
import pandas as pd

gw=35
df = pd.read_csv('../Projections/ALEX/alex-GW' +str(gw) + '.csv')
df.to_csv('fplreview.csv')

In [3]:
from datetime import datetime
import pandas as pd
import requests

now = datetime.now()
dt_string = now.strftime("%Y-%m-%dT%H:%M:%SZ")
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
df = pd.DataFrame(requests.get(url).json()['events'])
i=0
while dt_string > df['deadline_time'].iloc[i]:
    i = i + 1
next_gw = df['id'].iloc[i]
next_gw

2

In [6]:
df['deadline_time'].iloc[1]

'2023-08-18T17:15:00Z'

In [4]:
dt_string >

'2023-08-11T18:58:03Z'

In [10]:
from datetime import datetime

now = datetime.now()
dt_string = now.strftime("%Y-%m-%dT%H:%M:%SZ")
dt_string

'2023-07-29T20:24:28Z'

In [13]:
dt_string < df['deadline_time'].iloc[0]

True

In [16]:
import pandas as pd
import requests
from datetime import datetime

now = datetime.now()
dt_string = now.strftime("%Y-%m-%dT%H:%M:%SZ")
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
df = pd.DataFrame(requests.get(url).json()['events'])
i=0
while dt_string > df['deadline_time'].iloc[i]:
    i = i + 1
next_gw = df['id'].iloc[i]

1

In [13]:
import os

response = os.listdir('./results/')[0]
response = os.path.join('./results/', response)
df = pd.read_csv(response)
print(response)
df['summary'].iloc[1]

./results/table_2023-06-04_17-14-02.csv

'** GW 35:\nITB=2.6, FT=1.0, PT=0, NT=0\n---\nLineup: \n\tEderson (4.47)\n\tBotman (2.64), Trippier (3.56), Shaw (3.66)\n\tMac Allister (4.97), Mitoma (5.16), Fernandes (5.21, V), Salah (6.17, C)\n\tSolanke (3.67), Watkins (4.64), Kane (5.2)\nBench: \n\tArrizabalaga, Groß, Mina, Varane\nLineup xPts: 55.51\n---\n\n** GW 36:\nITB=0.6, FT=2.0, PT=0, NT=2.0\nBuy 335 - Rashford\nBuy 586 - Estupiñán\nSell 104 - Groß\nSell 329 - Varane\n---\nLineup: \n\tArrizabalaga (5.07)\n\tShaw (4.68), Estupiñán (6.12), Botman (6.33), Trippier (8.32, C)\n\tRashford (5.37), Fernandes (5.72), Salah (6.21), Mac Allister (7.62), Mitoma (8.07, V)\n\tKane (4.9)\nBench: \n\tEderson, Watkins, Solanke, Mina\nLineup xPts: 76.74\n---\n\n** GW 37:\nITB=0.6, FT=1.0, PT=0, NT=0\n---\nLineup: \n\tEderson (7.12)\n\tTrippier (4.95), Estupiñán (8.01), Shaw (8.01)\n\tSalah (5.97), Mac Allister (8.28), Mitoma (8.63), Rashford (9.8, V), Fernandes (10.78, C)\n\tWatkins (3.98), Kane (5.22)\nBench: \n\tArrizabalaga, Botman, Solanke, Mina\nLineup xPts: 91.53\n---\n\n** GW 38:\nITB=0.6, FT=2.0, PT=0, NT=0\n---\nLineup: \n\tArrizabalaga (3.72)\n\tEstupiñán (3.65), Trippier (4.14), Shaw (4.28)\n\tMitoma (4.21), Rashford (4.99), Fernandes (5.61, V), Salah (6.25, C)\n\tSolanke (3.87), Watkins (4.03), Kane (5.25)\nBench: \n\tEderson, Mac Allister, Botman, Mina\nLineup xPts: 56.25\n---\n\n'

In [3]:
import pandas as pd
import os

plans_url = '../solver_fpl/data/results/'
filename = os.listdir(plans_url)[-1]
f = os.path.join(plans_url, filename)
if os.path.isfile(f):
    plan = pd.read_csv(f)
plan

,Unnamed: 0,week,name,pos,type,team,buy_price,sell_price,xP,xMin,squad,lineup,bench,captain,vicecaptain,transfer_in,transfer_out,multiplier,xp_cont
0,8,37,Ederson,GKP,1,Man City,0.0,0.0,7.46,79,1,1,-1,0,0,0,0,1,7.461
1,6,37,Trippier,DEF,2,Newcastle,0.0,0.0,4.89,81,1,1,-1,0,0,0,0,1,4.892
2,12,37,Dias,DEF,2,Man City,0.0,0.0,6.63,72,1,1,-1,0,0,0,0,1,6.631
3,10,37,Varane,DEF,2,Man Utd,4.8,0.0,6.88,82,1,1,-1,0,0,1,0,1,6.880
4,7,37,Shaw,DEF,2,Man Utd,0.0,0.0,7.91,78,1,1,-1,0,0,0,0,1,7.906
5,4,37,Salah,MID,3,Liverpool,0.0,0.0,6.10,83,1,1,-1,0,0,0,0,1,6.100
6,5,37,Groß,MID,3,Brighton,0.0,0.0,7.70,76,1,1,-1,0,0,0,0,1,7.703
7,3,37,Mac Allister,MID,3,Brighton,0.0,0.0,8.09,74,1,1,-1,0,0,0,0,1,8.092
8,2,37,Mitoma,MID,3,Brighton,0.0,0.0,8.56,76,1,1,-1,0,0,0,0,1,8.557
9,0,37,Fernandes,MID,3,Man Utd,0.0,0.0,11.19,84,1,1,-1,1,0,0,0,2,22.384
10,1,37,Haaland,FWD,4,Man City,0.0,0.0,10.43,76,1,1,-1,0,1,0,0,1,10.430
11,9,37,Arrizabalaga,GKP,1,Chelsea,0.0,0.0,6.60,86,1,0,0,0,0,0,0,0,0.000
12,11,37,Botman,DEF,2,Newcastle,0.0,0.0,4.03,81,1,0,1,0,0,0,0,0,0.000
13,14,37,Watkins,FWD,4,Aston Villa,0.0,0.0,3.86,85,1,0,2,0,0,0,0,0,0.000
14,15,37,Solanke,FWD,4,Bournemouth,0.0,0.0,3.82,80,1,0,3,0,0,0,0,0,0.000
15,13,37,Burn,DEF,2,Newcastle,0.0,4.5,3.52,75,0,0,-1,0,0,0,1,0,0.000
16,28,38,Johnstone,GKP,1,Crystal Palace,4.4,0.0,5.00,85,1,1,-1,0,0,1,0,1,4.997
17,23,38,Shaw,DEF,2,Man Utd,0.0,0.0,4.18,76,1,1,-1,0,0,0,0,1,4.175
18,22,38,Trippier,DEF,2,Newcastle,0.0,0.0,4.22,79,1,1,-1,0,0,0,0,1,4.220
19,32,38,White,DEF,2,Arsenal,5.0,0.0,4.53,82,1,1,-1,0,0,1,0,1,4.526
20,19,38,Mac Allister,MID,3,Brighton,0.0,0.0,3.80,73,1,1,-1,0,0,0,0,1,3.805
21,18,38,Mitoma,MID,3,Brighton,0.0,0.0,4.41,75,1,1,-1,0,0,0,0,1,4.412
22,16,38,Fernandes,MID,3,Man Utd,0.0,0.0,5.76,83,1,1,-1,0,0,0,0,1,5.759
23,20,38,Salah,MID,3,Liverpool,0.0,0.0,6.23,79,1,1,-1,1,0,0,0,2,12.464
24,30,38,Watkins,FWD,4,Aston Villa,0.0,0.0,3.92,83,1,1,-1,0,0,0,0,1,3.915
25,31,38,Solanke,FWD,4,Bournemouth,0.0,0.0,4.13,78,1,1,-1,0,0,0,0,1,4.126
26,17,38,Haaland,FWD,4,Man City,0.0,0.0,5.80,73,1,1,-1,0,1,0,0,1,5.800
27,25,38,Arrizabalaga,GKP,1,Chelsea,0.0,0.0,3.60,86,1,0,0,0,0,0,0,0,0.000
28,21,38,Groß,MID,3,Brighton,0.0,0.0,3.77,76,1,0,1,0,0,0,0,0,0.000
29,26,38,Varane,DEF,2,Man Utd,0.0,0.0,3.64,77,1,0,2,0,0,0,0,0,0.000
30,27,38,Botman,DEF,2,Newcastle,0.0,0.0,3.40,78,1,0,3,0,0,0,0,0,0.000
31,24,38,Ederson,GKP,1,Man City,0.0,5.4,3.75,86,0,0,-1,0,0,0,1,0,0.000
32,29,38,Dias,DEF,2,Man City,0.0,6.0,3.21,69,0,0,-1,0,0,0,1,0,0.000

In [4]:
transfers = []

for gw in [37, 38]:
    players_in = []
    players_out = []
    players_in += plan[(plan['week']==gw) & (plan['transfer_in']==1)]['name'].to_list()
    players_out += plan[(plan['week']==gw) & (plan['transfer_out']==1)]['name'].to_list()
    transfers.append((players_in, players_out))

In [5]:
horizon = 2
for i in range(horizon):
    transfers_gw = transfers[i]
    transfer_breakdown.append(', '.join(transfers_gw[1]) + ' -> ' + ', '.join(transfers_gw[0]))

Burn -> Varane
Ederson, Dias -> Johnstone, White

In [21]:
next_gw = 37 # fixxxxxxxxxxx
horizon = 2
gws = [next_gw + x for x in range(horizon)]
transfers_out = []
transfers_in = []

for gw in gws:
    squad = plan[plan['week']==gw]
    squad_out = squad[squad['transfer_out']==1]['name']
    transfers_out.append([squad_out.iloc[x] for x in range(squad_out.shape[0])])
    squad_in = squad[squad['transfer_in']==1]['name']
    transfers_in.append([squad_in.iloc[x] for x in range(squad_in.shape[0])])

for i in range(horizon):
    print('Gameweek ' + str(gws[i]) + ':')
    print(', '.join(transfers_out[i]) + ' -> ' + ', '.join(transfers_in[i]))

Gameweek 37:
Burn -> Varane
Gameweek 38:
Ederson, Dias -> Johnstone, White