In [1]:
!pip install nest_asyncio

Requirement already satisfied: nest_asyncio in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (1.5.5)

WARNING: You are using pip version 21.1.1; however, version 23.1.2 is available.
You should consider upgrading via the 'c:\users\user\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [2]:
import nest_asyncio
nest_asyncio.apply()

In [3]:
import asyncio
import json
import pandas as pd
import aiohttp
import time

from understat import Understat


# understat file for player id 1228
async def player_understat_file(id):
    async with aiohttp.ClientSession() as session:
        understat = Understat(session)
        # Using **kwargs
        player_matches = await understat.get_player_matches(id)
        player_matches = pd.DataFrame(player_matches)
        cols=[i for i in player_matches.columns if i not in ['position', 'h_team', 'a_team', 'date']]
        for col in cols:
            player_matches[col]=pd.to_numeric(player_matches[col])
        return player_matches
        

loop = asyncio.get_event_loop()
df = loop.run_until_complete(player_understat_file(6482))

In [30]:
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
pd.DataFrame(requests.get(url).json()['teams'])

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,...,None,False,0,1230,1285,1250,1250,1210,1320,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,...,None,False,0,1115,1175,1130,1190,1100,1160,2
2,91,0,None,3,0,Bournemouth,0,0,0,BOU,...,None,False,0,1060,1095,1050,1100,1060,1090,127
3,94,0,None,4,0,Brentford,0,0,0,BRE,...,None,False,0,1125,1205,1120,1220,1130,1190,130
4,36,0,None,5,0,Brighton,0,0,0,BHA,...,None,False,0,1165,1210,1120,1200,1210,1240,131
5,90,0,None,6,0,Burnley,0,0,0,BUR,...,None,False,0,1060,1080,1060,1080,1060,1080,43
6,8,0,None,7,0,Chelsea,0,0,0,CHE,...,None,False,0,1115,1160,1130,1210,1100,1110,4
7,31,0,None,8,0,Crystal Palace,0,0,0,CRY,...,None,False,0,1100,1100,1140,1170,1080,1085,6
8,11,0,None,9,0,Everton,0,0,0,EVE,...,None,False,0,1075,1100,1070,1120,1080,1080,7
9,54,0,None,10,0,Fulham,0,0,0,FUL,...,None,False,0,1095,1100,1090,1090,1100,1140,34
10,14,0,None,11,0,Liverpool,0,0,0,LIV,...,None,False,0,1220,1285,1170,1270,1260,1300,10
11,102,0,None,12,0,Luton,0,0,0,LUT,...,None,False,0,1045,1050,1050,1050,1040,1050,163
12,43,0,None,13,0,Man City,0,0,0,MCI,...,None,False,0,1350,1355,1320,1340,1320,1370,11
13,1,0,None,14,0,Man Utd,0,0,0,MUN,...,None,False,0,1145,1275,1150,1310,1140,1240,12
14,4,0,None,15,0,Newcastle,0,0,0,NEW,...,None,False,0,1220,1280,1250,1310,1190,1250,23
15,17,0,None,16,0,Nott'm Forest,0,0,0,NFO,...,None,False,0,1050,1100,1050,1110,1050,1120,15
16,49,0,None,17,0,Sheffield Utd,0,0,0,SHU,...,None,False,0,1045,1070,1050,1060,1040,1080,18
17,6,0,None,18,0,Spurs,0,0,0,TOT,...,None,False,0,1130,1200,1110,1200,1150,1200,21
18,21,0,None,19,0,West Ham,0,0,0,WHU,...,None,False,0,1095,1140,1100,1150,1090,1130,25
19,39,0,None,20,0,Wolves,0,0,0,WOL,...,None,False,0,1065,1100,1070,1160,1060,1080,38

In [4]:
# understat file for a specific team for a specific season
async def team_understat_file(team, season):
    async with aiohttp.ClientSession() as session:
        understat = Understat(session)
        teams = await understat.get_teams(
            "epl",
            season,
            title=team
        )
        return pd.DataFrame(teams[0]['history'])

In [37]:
loop.run_until_complete(team_understat_file('Arsenal', 2024))

,h_a,xG,xGA,npxG,npxGA,ppda,ppda_allowed,deep,deep_allowed,scored,missed,xpts,result,date,wins,draws,loses,pts,npxGD
0,a,1.436010,1.206370,1.436010,1.206370,"{'att': 355, 'def': 28}","{'att': 246, 'def': 24}",13,8,2,0,1.5584,w,2022-08-05 19:00:00,1,0,0,3,0.229640
1,h,3.010700,0.690679,3.010700,0.690679,"{'att': 279, 'def': 27}","{'att': 196, 'def': 14}",10,5,4,2,2.7487,w,2022-08-13 14:00:00,1,0,0,3,2.320021
2,a,1.710810,0.211335,1.710810,0.211335,"{'att': 218, 'def': 25}","{'att': 360, 'def': 23}",8,1,3,0,2.6009,w,2022-08-20 16:30:00,1,0,0,3,1.499475
3,h,2.474270,0.926007,2.474270,0.926007,"{'att': 103, 'def': 19}","{'att': 327, 'def': 22}",17,1,2,1,2.4378,w,2022-08-27 16:30:00,1,0,0,3,1.548263
4,h,2.799710,0.297168,2.799710,0.297168,"{'att': 168, 'def': 17}","{'att': 278, 'def': 19}",18,3,2,1,2.8527,w,2022-08-31 18:30:00,1,0,0,3,2.502542
5,a,1.422380,2.029040,1.422380,2.029040,"{'att': 152, 'def': 18}","{'att': 241, 'def': 15}",16,5,1,3,0.9433,l,2022-09-04 15:30:00,0,0,1,0,-0.606660
6,a,1.320210,0.540110,1.320210,0.540110,"{'att': 181, 'def': 18}","{'att': 277, 'def': 24}",9,3,3,0,2.0088,w,2022-09-18 11:00:00,1,0,0,3,0.780100
7,h,2.484030,1.502700,2.484030,0.741526,"{'att': 187, 'def': 18}","{'att': 240, 'def': 13}",12,2,3,1,2.1046,w,2022-10-01 11:30:00,1,0,0,3,1.742504
8,h,2.819680,0.765151,2.058510,0.765151,"{'att': 285, 'def': 17}","{'att': 174, 'def': 16}",14,4,3,2,2.7746,w,2022-10-09 15:30:00,1,0,0,3,1.293359
9,a,0.821757,2.022320,0.821757,1.261150,"{'att': 199, 'def': 19}","{'att': 340, 'def': 28}",5,8,1,0,0.5174,w,2022-10-16 13:00:00,1,0,0,3,-0.439393
10,a,1.578970,0.622653,1.578970,0.622653,"{'att': 220, 'def': 23}","{'att': 316, 'def': 15}",8,7,1,1,2.1541,d,2022-10-23 13:00:00,0,1,0,1,0.956317
11,h,3.006990,0.206127,3.006990,0.206127,"{'att': 148, 'def': 19}","{'att': 315, 'def': 12}",21,2,5,0,2.9077,w,2022-10-30 14:00:00,1,0,0,3,2.800863
12,a,2.378460,0.278815,2.378460,0.278815,"{'att': 185, 'def': 31}","{'att': 248, 'def': 29}",3,5,1,0,2.8162,w,2022-11-06 12:00:00,1,0,0,3,2.099645
13,a,2.279960,0.512339,2.279960,0.512339,"{'att': 184, 'def': 14}","{'att': 308, 'def': 17}",4,4,2,0,2.6551,w,2022-11-12 19:45:00,1,0,0,3,1.767621
14,h,1.888280,1.026520,1.888280,0.265347,"{'att': 197, 'def': 26}","{'att': 371, 'def': 19}",14,1,3,1,2.0354,w,2022-12-26 20:00:00,1,0,0,3,1.622933
15,a,3.221060,1.156630,3.221060,1.156630,"{'att': 372, 'def': 24}","{'att': 130, 'def': 16}",8,9,4,2,2.6530,w,2022-12-31 17:30:00,1,0,0,3,2.064430
16,h,0.970637,0.959523,0.970637,0.959523,"{'att': 112, 'def': 15}","{'att': 262, 'def': 22}",9,4,0,0,1.3059,d,2023-01-03 19:45:00,0,1,0,1,0.011114
17,a,2.042320,1.710320,2.042320,1.710320,"{'att': 253, 'def': 22}","{'att': 220, 'def': 13}",8,8,2,0,1.6228,w,2023-01-15 16:30:00,1,0,0,3,0.332000
18,h,2.902730,0.272246,2.902730,0.272246,"{'att': 213, 'def': 18}","{'att': 248, 'def': 18}",15,1,3,2,2.8630,w,2023-01-22 16:30:00,1,0,0,3,2.630484
19,a,0.690102,2.091910,0.690102,2.091910,"{'att': 104, 'def': 18}","{'att': 378, 'def': 21}",11,4,0,1,0.3624,l,2023-02-04 12:30:00,0,0,1,0,-1.401808
20,h,1.367380,2.175380,1.367380,2.175380,"{'att': 97, 'def': 15}","{'att': 192, 'def': 16}",21,15,1,1,0.7451,d,2023-02-11 15:00:00,0,1,0,1,-0.808000
21,h,1.701390,2.008410,0.940216,2.008410,"{'att': 158, 'def': 18}","{'att': 322, 'def': 26}",9,7,1,3,1.1447,l,2023-02-15 18:30:00,0,0,1,0,-1.068194
22,a,2.859810,0.335752,2.859810,0.335752,"{'att': 174, 'def': 19}","{'att': 279, 'def': 19}",14,2,4,2,2.8289,w,2023-02-18 12:30:00,1,0,0,3,2.524058
23,a,0.722059,0.020346,0.722059,0.020346,"{'att': 151, 'def': 19}","{'att': 283, 'def': 18}",10,2,1,0,2.0591,w,2023-02-25 15:00:00,1,0,0,3,0.701713
24,h,3.069190,1.604000,3.069190,1.604000,"{'att': 130, 'def': 17}","{'att': 418, 'def': 19}",13,5,4,0,2.3791,w,2023-03-01 20:00:00,1,0,0,3,1.465190
25,h,2.462790,1.742670,2.462790,1.742670,"{'att': 80, 'def': 20}","{'att': 213, 'def': 15}",31,3,3,2,1.8469,w,2023-03-04 15:00:00,1,0,0,3,0.720120
26,a,2.643550,0.618320,2.643550,0.618320,"{'att': 254, 'def': 23}","{'att': 341, 'def': 20}",20,5,3,0,2.6950,w,2023-03-12 14:00:00,1,0,0,3,2.025230
27,h,1.535680,1.191940,1.535680,1.191940,"{'att': 203, 'def': 16}","{'att': 310, 'def': 18}",13,5,4,1,1.6022,w,2023-03-19 14:00:00,1,0,0,3,0.343740
28,h,3.295480,0.497609,2.534310,0.497609,"{'att': 152, 'def': 18}","{'att': 336, 'def': 20}",6,6,4,1,2.8822,w,2023-04-01 14:00:00,1,0,0,3,2.036701
29,a,1.536310,4.640120,1.536310,3.878950,"{'att': 278, 'def': 21}","{'att': 193, 'def': 26}",1,19,2,2,0.1039,d,2023-04-09 15:30:00,0,1,0,1,-2.342640
30,a,2.717820,1.960950,1.956650,1.199780,"{'att': 104, 'def': 16}","{'att': 316, 'def': 20}",10,4,2,2,1.9780,d,2023-04-16 13:00:00,0,1,0,1,0.756870
31,h,2.396090,1.430630,2.396090,1.430630,"{'att': 104, 'def': 25}","{'att': 265, 'def': 14}",23,3,3,3,2.0364,d,2023-04-21 19:00:00,0,1,0,1,0.965460
32,a,0.398372,2.011680,0.398372,2.011680,"{'att': 320, 'def': 19}","{'att': 293, 'def': 28}",6,9,1,4,0.2988,l,2023-04-26 19:00:00,0,0,1,0,-1.613308
33,h,2.783200,0.785202,2.783200,0.785202,"{'att': 299, 'def': 24}","{'att': 309, 'def': 13}",13,8,3,1,2.6199,w,2023-05-02 19:00:00,1,0,0,3,1.997998
34,a,1.290610,1.372240,1.290610,1.372240,"{'att': 207, 'def': 26}","{'att': 197, 'def': 24}",8,11,2,0,1.3011,w,2023-05-07 15:30:00,1,0,0,3,-0.081630
35,h,0.958651,2.212760,0.958651,2.212760,"{'att': 346, 'def': 33}","{'att': 191, 'def': 20}",8,2,0,3,0.5195,l,2023-05-14 15:30:00,0,0,1,0,-1.254109
36,a,0.490200,1.139700,0.490200,1.139700,"{'att': 53, 'def': 19}","{'att': 287, 'def': 17}",11,5,0,1,0.7008,l,2023-05-20 16:30:00,0,0,1,0,-0.649500
37,h,3.024660,0.387720,3.024660,0.387720,"{'att': 303, 'def': 24}","{'att': 223, 'def': 14}",12,3,5,0,2.8694,w,2023-05-28 15:30:00,1,0,0,3,2.636940

In [11]:
season = '2022-23'
loop = asyncio.get_event_loop()

Arsenal_stats_df = loop.run_until_complete(team_understat_file('Arsenal', int(season[:4])))
Aston_Villa_stats_df = loop.run_until_complete(team_understat_file('Aston Villa', int(season[:4])))
Brentford_stats_df = loop.run_until_complete(team_understat_file('Brentford', int(season[:4])))

In [ ]:
    import requests    
    PATH = '../data/Fantasy-Premier-League/data/'    
    url = 'https://fantasy.premierleague.com/api/fixtures/'
    fixtures = {
        '2019-20': pd.read_csv(PATH + '2019-20/fixtures.csv'),
        '2020-21': pd.read_csv(PATH + '2020-21/fixtures.csv'),
        '2021-22': pd.read_csv(PATH + '2021-22/fixtures.csv'),
        '2022-23': pd.json_normalize(requests.get(url).json())
    }

    url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
    players_raw = {
        '2019-20': pd.read_csv(PATH + '2019-20/players_raw.csv'),
        '2020-21': pd.read_csv(PATH + '2020-21/players_raw.csv'),
        '2021-22': pd.read_csv(PATH + '2021-22/players_raw.csv'),
        '2022-23': pd.DataFrame(requests.get(url).json()['elements'])
    }

    teams = {
        '2019-20': pd.read_csv(PATH + '2019-20/teams.csv'),
        '2020-21': pd.read_csv(PATH + '2020-21/teams.csv'),
        '2021-22': pd.read_csv(PATH + '2021-22/teams.csv'),
        '2022-23': pd.DataFrame(requests.get(url).json()['teams'])
    }

In [3]:
import pandas as pd
import requests

url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
df = pd.DataFrame(requests.get(url).json()['elements'])

In [6]:
df.keys()

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'starts', 'expected_goals', 'expected_assists',
       'expected_goal_involvements', 'expected_goals_conceded',
       'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'expected_goals_per_90', 'saves_per_90', 'expected_assists_per_90',
       'expected_goal_involvements_per_90', 'expected_goals_conceded_per_90',
       'goals_conceded_per_90', 'now_cost_rank', 'now_cost_rank_type',
       'form_rank', 'form_rank_type', 'points_per_game_rank',
       'points_per_game_rank_type', 'selected_rank', 'selected_rank_type',
       'starts_per_90', 'clean_sheets_per_90'],
      dtype='object')

In [3]:
import pandas as pd
import requests

url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
pd.DataFrame(requests.get(url).json()['elements']).keys()

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'starts', 'expected_goals', 'expected_assists',
       'expected_goal_involvements', 'expected_goals_conceded',
       'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'expected_goals_per_90', 'saves_per_90', 'expected_assists_per_90',
       'expected_goal_involvements_per_90', 'expected_goals_conceded_per_90',
       'goals_conceded_per_90', 'now_cost_rank', 'now_cost_rank_type',
       'form_rank', 'form_rank_type', 'points_per_game_rank',
       'points_per_game_rank_type', 'selected_rank', 'selected_rank_type',
       'starts_per_90', 'clean_sheets_per_90'],
      dtype='object')

In [22]:
import requests
import pandas as pd

id = 11
url = 'https://fantasy.premierleague.com/api/element-summary/' + str(id) + '/'

df = pd.DataFrame(requests.get(url).json()['history']) #gw.csv
#pd.DataFrame(requests.get(url).json()['history_past']) #history.csv

In [23]:
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
pd.DataFrame(requests.get(url).json()['teams']) #teams.csv
pd.DataFrame(requests.get(url).json()['elements']) #players_raw.csv
pd.DataFrame(requests.get(url).json()['events']) #events.csv extra

In [ ]:
url = 'https://fantasy.premierleague.com/api/fixtures/'
pd.json_normalize(requests.get(url).json())

In [ ]:
!python -m pip install soccerdata

In [ ]:
import soccerdata as sd

fbref = sd.FBref(data_dir="/tmp", no_cache=True, no_store=True)