# Fixture Difficulty Rating Rotation Optimization

In FPL, Fixture Difficulty Rating (FDR) is a well-known metric. Simply put, FDR shows how difficult a team's game in every gameweek.

Finding pairs of teams that we can rotate is a common approach to simplify the FPL as a problem. Here, I will show how an FDR model can be written to find pairs, triplets, even under special conditions (e.g. FreeHit)

In [1]:
import pandas as pd
import sasoptpy as so
import requests
import json
import os
import random
from subprocess import Popen
from IPython.display import display, HTML
from math import exp
import string

In [2]:
def get_random_id(n):
    return ''.join(random.choice(string.ascii_letters + string.digits) for _ in range(n))

In [3]:
ratings = pd.read_csv("https://projects.fivethirtyeight.com/soccer-api/club/spi_global_rankings.csv")
ratings.head()

,rank,prev_rank,name,league,off,def,spi
0,1,1,Manchester City,Barclays Premier League,2.79,0.25,92.42
1,2,2,Bayern Munich,German Bundesliga,3.30,0.60,90.65
2,3,3,Chelsea,Barclays Premier League,2.42,0.20,90.53
3,4,4,Barcelona,Spanish Primera Division,3.14,0.56,90.10
4,5,5,Liverpool,Barclays Premier League,2.69,0.40,89.17

In [4]:
hfa = 0.15
fixture = pd.read_excel("../data/ben_2021_22.xlsx", sheet_name="HA Schedule", header=2, index_col=0, usecols=range(1, 41), engine='openpyxl').drop(columns=["Unnamed: 2"])
fixture.index.name ='team'
fixture_original = fixture.copy()
# fixture = fixture.applymap(lambda x: x.upper())
# fixture.index = fixture.index.str.upper()
fix_dict = fixture.to_dict('index')
fixture.head()

,1,2,3,4,5,6,7,8,9,10,...,29,30,31,32,33,34,35,36,37,38
team,,,,,,,,,,,,,,,,,,,,,
ARS,bre,CHE,mci,NOR,bur,TOT,bha,CRY,AVL,lei,...,LEI,avl,cry,BHA,sou,MUN,whu,LEE,new,EVE
AVL,wat,NEW,BRE,che,EVE,mun,tot,WOL,ars,WHU,...,whu,ARS,wol,TOT,LIV,lei,NOR,bur,CRY,mci
BRE,ARS,cry,avl,BHA,wol,LIV,whu,CHE,LEI,bur,...,BUR,lei,che,WHU,wat,TOT,mun,SOU,eve,LEE
BHA,bur,WAT,EVE,bre,LEI,cry,ARS,nor,MCI,liv,...,LIV,mci,NOR,ars,tot,SOU,wol,MUN,lee,WHU
BUR,BHA,liv,LEE,eve,ARS,lei,NOR,mci,sou,BRE,...,bre,SOU,MCI,nor,whu,WOL,wat,AVL,tot,NEW

In [5]:
teams = {
    'ARS': {'name': 'Arsenal'},
    'AVL':  {'name': 'Aston Villa'},
    'BRE':  {'name': 'Brentford'},
    'BHA':  {'name': 'Brighton and Hove Albion'},
    'BUR':  {'name': 'Burnley'},
    'CHE':  {'name': 'Chelsea'},
    'CRY':  {'name': 'Crystal Palace'},
    'EVE':  {'name': 'Everton'},
    'LEI':  {'name': 'Leicester City'},
    'LEE': {'name':  'Leeds United'},
    'LIV': {'name':  'Liverpool'},
    'MCI': {'name':  'Manchester City'},
    'MUN': {'name':  'Manchester United'},
    'NEW': {'name':  'Newcastle'},
    'NOR': {'name':  'Norwich City'},
    'SOU': {'name':  'Southampton'},
    'TOT': {'name':  'Tottenham Hotspur'},
    'WAT': {'name':  'Watford'},
    'WHU': {'name':  'West Ham United'},
    'WOL': {'name':  'Wolverhampton'}
}

In [6]:
# OFF OR DEF HERE!

for team, val in teams.items():
    rating = ratings.loc[ratings.name == val['name'], 'off'].values[0]
    val['rating'] = rating
teams

{'ARS': {'name': 'Arsenal', 'rating': 2.18},
 'AVL': {'name': 'Aston Villa', 'rating': 2.02},
 'BRE': {'name': 'Brentford', 'rating': 1.74},
 'BHA': {'name': 'Brighton and Hove Albion', 'rating': 1.97},
 'BUR': {'name': 'Burnley', 'rating': 1.85},
 'CHE': {'name': 'Chelsea', 'rating': 2.42},
 'CRY': {'name': 'Crystal Palace', 'rating': 1.69},
 'EVE': {'name': 'Everton', 'rating': 1.86},
 'LEI': {'name': 'Leicester City', 'rating': 2.14},
 'LEE': {'name': 'Leeds United', 'rating': 2.13},
 'LIV': {'name': 'Liverpool', 'rating': 2.69},
 'MCI': {'name': 'Manchester City', 'rating': 2.79},
 'MUN': {'name': 'Manchester United', 'rating': 2.41},
 'NEW': {'name': 'Newcastle', 'rating': 1.93},
 'NOR': {'name': 'Norwich City', 'rating': 1.82},
 'SOU': {'name': 'Southampton', 'rating': 1.88},
 'TOT': {'name': 'Tottenham Hotspur', 'rating': 2.31},
 'WAT': {'name': 'Watford', 'rating': 1.52},
 'WHU': {'name': 'West Ham United', 'rating': 2.18},
 'WOL': {'name': 'Wolverhampton', 'rating': 1.73}}

In [7]:
for team, val in teams.items():
    print(f"{team:.3s} {val['rating']:.1f}")

ARS 2.2
AVL 2.0
BRE 1.7
BHA 2.0
BUR 1.9
CHE 2.4
CRY 1.7
EVE 1.9
LEI 2.1
LEE 2.1
LIV 2.7
MCI 2.8
MUN 2.4
NEW 1.9
NOR 1.8
SOU 1.9
TOT 2.3
WAT 1.5
WHU 2.2
WOL 1.7

In [8]:
# Sets
team_list = list(teams.keys())
gameweeks = list(range(1,39))

In [9]:
def get_fdr_with_hfa(hfa=0):
    fdr = {}
    for t in team_list:
        for w in range(1,39):
            opp = fix_dict[t][w]
            if opp.islower(): # AWAY
                fdr[t,w] = teams[opp.upper()]['rating'] * exp(hfa)
            else:
                fdr[t,w] = teams[fix_dict[t][w]]['rating'] / exp(hfa)
    return fdr

In [10]:
pd.set_option('display.max_columns', None)

In [11]:
def read_solution(m, sol_file="fdr.sol"):
    with open(sol_file, 'r') as f:
        for v in m.get_variables():
            v.set_value(0)
        for line in f:
            if 'objective value' in line:
                continue
            words = line.split()
            v = m.get_variable(words[1])
            v.set_value(float(words[2]))

def print_solution(m, gws, fdr):
    pick_team = m.get_variable('pick_team')
    pick_team_gw = m.get_variable('pick_team_gw')
    # Print solution
    selected_teams = []
    gameweek_picks = []
    for t in team_list:
        entry = {'team': t}
        if pick_team[t].get_value() > 0:
            selected_teams.append(t)
            for g in gws:
                entry.update({g: round(pick_team_gw[t,g].get_value() * fdr[t,g], 3) })
            gameweek_picks.append(entry)
    
    # Print and first table - values
    print(f'\nSelected: {" and ".join(selected_teams)}. Total FDR: {round(m.get_objective_value(),3)}')
    pick_df = pd.DataFrame(gameweek_picks)
    s = pick_df.style
    colored_vals = lambda x: 'background-color: lightblue; color: black' if type(x) == float and x > 0 else 'color: white'
    s.applymap(colored_vals)
    display(HTML(s.render().replace("000", "")))
    
    # Second table - names
    fr = fixture_original.reset_index()
    selected_fixture = fr[fr['team'].isin(selected_teams)].copy().reset_index(drop=True)
    selected_fixture = selected_fixture[['team'] + gws]
    s2 = selected_fixture.style
    def color_based_on_selection(cell):
        d = cell.copy()
        for c in d.columns:
            if c == 'team': continue
            for r in d.index:
                if pick_df.loc[r, c]:
                    d.loc[r, c] = 'background-color: green; color: white'
                else:
                    d.loc[r, c] = ''
        return d
    s2.apply(color_based_on_selection, axis=None)
    display(HTML(s2.render()))
    return selected_teams

In [12]:
def solve_N_pair_problem(N=2, max_iter=1, first_gw=1, last_gw=38, among=[], exclude=[], hfa=0.15):
    fdr = get_fdr_with_hfa(hfa)
    m = so.Model(name='N_rotation_pairs')
    team_list = list(teams.keys())
    gameweeks = list(range(first_gw, last_gw+1))
    pick_team = m.add_variables(team_list, vartype=so.binary, name='pick_team')
    pick_team_gw = m.add_variables(team_list, gameweeks, vartype=so.binary, name='pick_team_gw')

    if len(exclude) > 0:
        m.add_constraints((pick_team[t] == 0 for t in exclude), name='disable_team')
    if len(among) > 0:
        m.add_constraints((pick_team[t] == 0 for t in team_list if t not in among), name='disable_team')

    m.add_constraint(so.expr_sum(pick_team[t] for t in team_list) == N, name='pick_2')
    m.add_constraints((so.expr_sum(pick_team_gw[t, g] for t in team_list) == 1 for g in gameweeks), name='pick_1_per_gw')
    m.add_constraints((pick_team_gw[t,g] <= pick_team[t] for t in team_list for g in gameweeks), name='valid_picks_only')

    # Force using each team at least once
    m.add_constraints((so.expr_sum(pick_team_gw[t,g] for g in gameweeks) >= pick_team[t] for t in team_list), name='force_use')

    m.set_objective(so.expr_sum(fdr[t, g] * pick_team_gw[t, g] for t in team_list for g in gameweeks), sense='N', name='total_fdr')

    m.export_mps("fdr.mps")
    command = "cbc fdr.mps solve solu fdr.sol"
    Popen(command).wait()
    read_solution(m)
    selected_teams = print_solution(m, gameweeks, fdr)
    for it in range(1, max_iter):
        c = m.add_constraint(so.expr_sum(pick_team[t] for t in selected_teams) <= N-1, name=f'cutoff_{it}')
        m.export_mps("fdr.mps")
        Popen(command).wait()
        read_solution(m)
        selected_teams = print_solution(m, gameweeks, fdr)

In [14]:
teams.keys()

dict_keys(['ARS', 'AVL', 'BRE', 'BHA', 'BUR', 'CHE', 'CRY', 'EVE', 'LEI', 'LEE', 'LIV', 'MCI', 'MUN', 'NEW', 'NOR', 'SOU', 'TOT', 'WAT', 'WHU', 'WOL'])

In [20]:
solve_N_pair_problem(N=2, max_iter=3, last_gw=8, among=['BHA', 'LEE', 'WOL', 'LEI', 'ARS', 'AVL'], hfa=0.15)

NOTE: Initialized model N_rotation_pairs.

Selected: AVL and LEE. Total FDR: 13.454

Selected: AVL and WOL. Total FDR: 13.523

Selected: AVL and BHA. Total FDR: 13.523

In [ ]:
solve_N_pair_problem(N=2, max_iter=1)

In [ ]:
solve_N_pair_problem(N=3, max_iter=1)

In [ ]:
# Free hit version
def solve_N_pair_problem_fh(N=2, max_iter=1, hfa=0.15):
    fdr = get_fdr_with_hfa(hfa)
    m = so.Model(name='N_rotation_pairs')
    team_list = list(teams.keys())
    gameweeks = list(range(1,39))
    pick_team = m.add_variables(team_list, vartype=so.binary, name='pick_team')
    pick_team_gw = m.add_variables(team_list, gameweeks, vartype=so.binary, name='pick_team_gw')
    pick_free_hit = m.add_variables(team_list, gameweeks, vartype=so.binary, name='pick_free_hit')

    m.add_constraint(so.expr_sum(pick_team[t] for t in team_list) == N, name='pick_2')
    m.add_constraints((so.expr_sum(pick_team_gw[t, g] + pick_free_hit[t, g] for t in team_list) == 1 for g in gameweeks), name='pick_1_per_gw')
    m.add_constraints((pick_team_gw[t,g] <= pick_team[t] for t in team_list for g in gameweeks), name='valid_picks_only')
    m.add_constraint((so.expr_sum(pick_free_hit[t, g] for t in team_list for g in gameweeks) <= 1), name='single_free_hit')

    # Force using each team at least once
    m.add_constraints((so.expr_sum(pick_team_gw[t,g] for g in gameweeks) >= pick_team[t] for t in team_list), name='force_use')

    m.set_objective(so.expr_sum(fdr[t, g] * (pick_team_gw[t, g] + pick_free_hit[t,g]) for t in team_list for g in gameweeks), sense='N', name='total_fdr')

    m.export_mps("fdr.mps")
    command = "cbc fdr.mps solve solu fdr.sol"
    Popen(command).wait()
    read_solution(m)

    def print_free_hit_sol():
        selected_teams = []
        gameweek_picks = []
        for t in team_list:
            entry = {'team': t}
            if pick_team[t].get_value() > 0 or so.expr_sum(pick_free_hit[t,g] for g in gameweeks).get_value() > 0:
                selected_teams.append(t)
                for g in gameweeks:
                    entry.update({g: round((pick_team_gw[t,g] + pick_free_hit[t,g]).get_value() * fdr[t,g], 3) })
                gameweek_picks.append(entry)
        print(f'Selected: {" and ".join(selected_teams)}. Total FDR: {round(m.get_objective_value(),3)}')
        pick_df = pd.DataFrame(gameweek_picks)
        s = pick_df.style
        colored_vals = lambda x: 'background-color: lightblue; color: black' if type(x) == float and x > 0 else 'color: white'
        s.applymap(colored_vals)
        display(HTML(s.render().replace("000", "")))

        # Second table - names
        fr = fixture_original.reset_index()
        selected_fixture = fr[fr['team'].isin(selected_teams)].copy().reset_index(drop=True)
        s2 = selected_fixture.style
        def color_based_on_selection(cell):
            d = cell.copy()
            for c in d.columns:
                if c == 'team': continue
                for r in d.index:
                    if pick_df.loc[r, c]:
                        d.loc[r, c] = 'background-color: green; color: white'
                    else:
                        d.loc[r, c] = ''
            return d
        s2.apply(color_based_on_selection, axis=None)
        display(HTML(s2.render()))

        return selected_teams

    selected_teams = print_free_hit_sol()
    for it in range(1, max_iter):
        c = m.add_constraint(so.expr_sum(pick_team[t] for t in selected_teams) <= N-1, name=f'cutoff_{it}')
        m.export_mps("fdr.mps")
        Popen(command).wait()
        read_solution(m)
        selected_teams = print_free_hit_sol()

In [ ]:
solve_N_pair_problem_fh(2, 3)

In [ ]:
solve_N_pair_problem(N=2, max_iter=1, first_gw=1, last_gw=10)

In [ ]:
def solve_N_pick_K_pair_problem(N=3, K=2, max_iter=1, first_gw=1, last_gw=38, exclude=[], hfa=0.15):
    if last_gw > 38:
        return ["-"]
    fdr = get_fdr_with_hfa(hfa)
    problem_name = get_random_id(10)
    m = so.Model(name=f'N_K_rotation_problem_name')
    team_list = list(teams.keys())
    gameweeks = list(range(first_gw, last_gw+1))
    pick_team = m.add_variables(team_list, vartype=so.binary, name='pick_team')
    pick_team_gw = m.add_variables(team_list, gameweeks, vartype=so.binary, name='pick_team_gw')

    if len(exclude) > 0:
        m.add_constraints((pick_team[t] == 0 for t in exclude), name='disable_teams')

    m.add_constraint(so.expr_sum(pick_team[t] for t in team_list) == N, name='pick_2')
    m.add_constraints((so.expr_sum(pick_team_gw[t, g] for t in team_list) == K for g in gameweeks), name='pick_1_per_gw')
    m.add_constraints((pick_team_gw[t,g] <= pick_team[t] for t in team_list for g in gameweeks), name='valid_picks_only')

    # Force using each team at least once
    m.add_constraints((so.expr_sum(pick_team_gw[t,g] for g in gameweeks) >= pick_team[t] for t in team_list), name='force_use')

    m.set_objective(so.expr_sum(fdr[t, g] * pick_team_gw[t, g] for t in team_list for g in gameweeks), sense='N', name='total_fdr')

    m.export_mps(f"tmp/{problem_name}.mps")
    command = f"cbc tmp/{problem_name}.mps solve solu tmp/{problem_name}.sol"
    Popen(command).wait()
    read_solution(m, f'tmp/{problem_name}.sol')
    selected_teams = print_solution(m, gameweeks, fdr)
    for it in range(1, max_iter):
        c = m.add_constraint(so.expr_sum(pick_team[t] for t in selected_teams) <= N-1, name=f'cutoff_{it}')
        m.export_mps("fdr.mps")
        Popen(command).wait()
        read_solution(m, f'tmp/{problem_name}.sol')
        selected_teams = print_solution(m, gameweeks, fdr)

    return selected_teams

In [ ]:
solve_N_pick_K_pair_problem(first_gw=1, last_gw=38, max_iter=1)

In [ ]:
solve_N_pick_K_pair_problem(first_gw=1, last_gw=10, max_iter=1)

In [ ]:
solve_N_pick_K_pair_problem(N=4, K=3, first_gw=1, last_gw=38, max_iter=1)

In [ ]:
solve_N_pick_K_pair_problem(first_gw=1, last_gw=38, max_iter=1, exclude=['MCI', 'CHE', 'LIV', 'MUN'])

In [ ]:
solve_N_pick_K_pair_problem(first_gw=1, last_gw=10, max_iter=1, exclude=['MCI', 'CHE', 'LIV', 'MUN'])

In [ ]:
solve_N_pick_K_pair_problem(N=3, K=2, first_gw=1, last_gw=38, max_iter=1, exclude=['MCI', 'CHE', 'LIV', 'MUN', 'LEI', 'ARS', 'TOT'])

In [ ]:
solve_N_pair_problem(N=2, first_gw=1, last_gw=19, max_iter=1)

In [ ]:
solve_N_pair_problem(N=2, first_gw=1, last_gw=19, max_iter=1, exclude=['MCI', 'CHE', 'LIV', 'MUN', 'LEI', 'ARS', 'TOT'])

In [ ]:
from concurrent.futures import ProcessPoolExecutor, ThreadPoolExecutor
from itertools import repeat
gw_range = list(range(1,1))
start_gw = list(range(1,5))
all_pairs = [(sw, g) for sw in start_gw for g in gw_range]
# for gw_range in range(1, 10):
#     solve_N_pick_K_pair_problem(N=1, K=1, first_gw=1, last_gw=1+gw_range-1, max_iter=1, hfa=0.15)
with ThreadPoolExecutor(max_workers=16) as executor:
    res = list(executor.map(lambda x: solve_N_pick_K_pair_problem(**x), [{'N': 1, 'K': 1, 'first_gw': sw, 'last_gw': sw+g-1, 'max_iter': 1, 'hfa': 0.15} for sw in start_gw for g in gw_range]))

all_res = list(zip(all_pairs, res))
all_res