# Fixture Difficulty Rating Rotation Optimization (2022-23 Season)

In FPL, Fixture Difficulty Rating (FDR) is a well-known metric. Simply put, FDR shows how difficult a team's game in every gameweek.

Finding pairs of teams that we can rotate is a common approach to simplify the FPL as a problem. Here, I will show how an FDR model can be written to find pairs, triplets, even under special conditions (e.g. FreeHit)

In [41]:
import pandas as pd
import sasoptpy as so
import requests
import json
import os
import random
from subprocess import Popen
from IPython.display import display, HTML
from math import exp
import string

In [42]:
def get_random_id(n):
    return ''.join(random.choice(string.ascii_letters + string.digits) for _ in range(n))

In [43]:
ratings = pd.read_csv("https://projects.fivethirtyeight.com/soccer-api/club/spi_global_rankings.csv")
ratings.head()

,rank,prev_rank,name,league,off,def,spi
0,1,1,Manchester City,Barclays Premier League,3.03,0.27,93.45
1,2,2,Liverpool,Barclays Premier League,2.90,0.24,93.26
2,3,3,Bayern Munich,German Bundesliga,3.41,0.59,91.63
3,4,4,Chelsea,Barclays Premier League,2.45,0.33,88.35
4,5,5,Paris Saint-Germain,French Ligue 1,2.79,0.65,85.82

In [44]:
hfa = 0.0
fixture = pd.read_excel("../data/ben_2022_23.xlsx", sheet_name="HA Schedule", header=2, index_col=0, usecols=range(2, 42), engine='openpyxl').drop(columns=['Unnamed: 3'])
fixture.index.name ='team'
fixture_original = fixture.copy()
# fixture = fixture.applymap(lambda x: x.upper())
# fixture.index = fixture.index.str.upper()
fix_dict = fixture.to_dict('index')
fixture.head()

,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,37.0,38.0
team,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
ARS,cry,LEI,bou,FUL,AVL,mun,EVE,bre,TOT,LIV,lee,MCI,sou,NFO,che,wol,WHU,bha,NEW,tot,MUN,eve,BRE,avl,lei,BOU,ful,CRY,LEE,liv,whu,SOU,mci,CHE,new,BHA,nfo,WOL
AVL,bou,EVE,cry,WHU,ars,MCI,lei,SOU,lee,nfo,CHE,ful,BRE,new,MUN,bha,LIV,tot,WOL,LEE,sou,LEI,mci,ARS,eve,CRY,whu,BOU,che,NFO,NEW,bre,FUL,mun,wol,TOT,liv,BHA
BOU,AVL,mci,ARS,liv,WOL,nfo,BHA,new,BRE,LEI,ful,SOU,whu,TOT,lee,EVE,che,CRY,mun,bre,NFO,bha,NEW,wol,MCI,ars,LIV,avl,FUL,lei,tot,WHU,sou,LEE,CHE,cry,MUN,eve
BRE,lei,MUN,ful,EVE,cry,LEE,sou,ARS,bou,new,BHA,CHE,avl,WOL,nfo,mci,TOT,whu,LIV,BOU,lee,SOU,ars,CRY,mun,FUL,eve,LEI,bha,NEW,wol,AVL,che,NFO,liv,WHU,tot,MCI
BHA,mun,NEW,whu,LEE,ful,LEI,bou,CRY,liv,TOT,bre,NFO,mci,CHE,wol,AVL,sou,ARS,eve,LIV,lei,BOU,cry,FUL,new,WHU,lee,MUN,BRE,tot,che,MCI,nfo,WOL,EVE,ars,SOU,avl

In [45]:
teams = {
    'ARS': {'name': 'Arsenal'},
    'AVL':  {'name': 'Aston Villa'},
    'BOU': {'name': 'AFC Bournemouth'},
    'BRE':  {'name': 'Brentford'},
    'BHA':  {'name': 'Brighton and Hove Albion'},
    'CHE':  {'name': 'Chelsea'},
    'CRY':  {'name': 'Crystal Palace'},
    'EVE':  {'name': 'Everton'},
    'FUL': {'name': 'Fulham'},
    'LEI':  {'name': 'Leicester City'},
    'LEE': {'name':  'Leeds United'},
    'LIV': {'name':  'Liverpool'},
    'MCI': {'name':  'Manchester City'},
    'MUN': {'name':  'Manchester United'},
    'NEW': {'name':  'Newcastle'},
    'NFO': {'name': 'Nottingham Forest'},
    'SOU': {'name':  'Southampton'},
    'TOT': {'name':  'Tottenham Hotspur'},
    'WHU': {'name':  'West Ham United'},
    'WOL': {'name':  'Wolverhampton'}
}

In [46]:
for team, val in teams.items():
    # rating = ratings.loc[ratings.name == val['name'], target].values[0]
    # val['rating'] = rating
    val['off_rating'] = ratings.loc[ratings.name == val['name'], 'off'].values[0]
    val['def_rating'] = ratings.loc[ratings.name == val['name'], 'def'].values[0]
    val['spi_rating'] = ratings.loc[ratings.name == val['name'], 'spi'].values[0]

goal_target_rate = 1.38
avg_off = sum(v['off_rating'] for v in teams.values()) / 20
avg_def = sum(v['def_rating'] for v in teams.values()) / 20
off_adj = goal_target_rate / avg_off
def_adj = goal_target_rate / avg_def
for team, val in teams.items():
    val['off_adj'] = off_adj * val['off_rating']
    val['def_adj'] = def_adj * val['def_rating']

teams['LIV']

{'name': 'Liverpool',
 'off_rating': 2.9,
 'def_rating': 0.24,
 'spi_rating': 93.26,
 'off_adj': 1.956968215158924,
 'def_adj': 0.45809128630705387}

In [47]:
for team, val in teams.items():
    print(f"{team:.3s} {val['spi_rating']:.1f}")

tdf = pd.DataFrame([{'team': t, **v} for (t,v) in teams.items()])
tdf.sort_values(by='spi_rating')

ARS 80.2
AVL 76.2
BOU 58.9
BRE 72.4
BHA 80.0
CHE 88.3
CRY 76.5
EVE 63.7
FUL 64.1
LEI 71.3
LEE 63.0
LIV 93.3
MCI 93.5
MUN 74.7
NEW 71.7
NFO 56.5
SOU 61.9
TOT 84.1
WHU 73.0
WOL 69.6

,team,name,off_rating,def_rating,spi_rating,off_adj,def_adj
15,NFO,Nottingham Forest,1.45,0.99,56.51,0.978484,1.889627
2,BOU,AFC Bournemouth,1.56,1.00,58.93,1.052714,1.908714
16,SOU,Southampton,1.82,1.10,61.93,1.228166,2.099585
10,LEE,Leeds United,1.84,1.07,63.04,1.241663,2.042324
7,EVE,Everton,1.77,0.99,63.69,1.194425,1.889627
8,FUL,Fulham,1.81,1.00,64.11,1.221418,1.908714
19,WOL,Wolverhampton,1.78,0.76,69.58,1.201174,1.450622
9,LEI,Leicester City,1.98,0.83,71.31,1.336137,1.584232
14,NEW,Newcastle,1.84,0.71,71.71,1.241663,1.355187
3,BRE,Brentford,1.99,0.79,72.40,1.342885,1.507884
18,WHU,West Ham United,1.98,0.76,73.02,1.336137,1.450622
13,MUN,Manchester United,2.07,0.75,74.67,1.396870,1.431535
1,AVL,Aston Villa,2.02,0.65,76.22,1.363130,1.240664
6,CRY,Crystal Palace,1.88,0.55,76.48,1.268655,1.049793
4,BHA,Brighton and Hove Albion,2.08,0.52,80.03,1.403619,0.992531
0,ARS,Arsenal,2.20,0.59,80.18,1.484597,1.126141
17,TOT,Tottenham Hotspur,2.45,0.56,84.10,1.653301,1.068880
5,CHE,Chelsea,2.45,0.33,88.35,1.653301,0.629876
11,LIV,Liverpool,2.90,0.24,93.26,1.956968,0.458091
12,MCI,Manchester City,3.03,0.27,93.45,2.044694,0.515353

In [48]:
tdf['def_rating'].sum()

14.46

In [49]:
# Sets
team_list = list(teams.keys())
gameweeks = list(range(1,39))

In [50]:
def get_fdr_with_hfa(hfa=0, rating_type='rating', include_own_str=False):
    fdr = {}
    for t in team_list:
        for w in range(1,39):
            opp = fix_dict[t][w]
            if opp.islower(): # away
                if rating_type == 'def_rating':
                    fdr[t,w] = teams[opp.upper()][rating_type] / exp(hfa)
                else:
                    fdr[t,w] = teams[opp.upper()][rating_type] * exp(hfa)
            else: # home
                if rating_type == 'def_rating':
                    fdr[t,w] = teams[opp][rating_type] * exp(hfa) # opp concedes more goals
                else:
                    fdr[t,w] = teams[opp][rating_type] / exp(hfa)
    return fdr

In [51]:
pd.set_option('display.max_columns', None)

In [52]:
def read_solution(m, sol_file="fdr.sol", solver='cbc'):
    with open(sol_file, 'r') as f:
        for v in m.get_variables():
            v.set_value(0)
        if solver == 'cbc':
            for line in f:
                if 'objective value' in line:
                    continue
                words = line.split()
                v = m.get_variable(words[1])
                v.set_value(float(words[2]))
        elif solver == 'highs':
            cols_started = False
            for line in f:
                if not cols_started and "# Columns" not in line:
                    continue
                elif "# Columns" in line:
                    cols_started = True
                    continue
                elif cols_started and line[0] != "#":
                    words = line.split()
                    v = m.get_variable(words[0])
                    try:
                        v.set_value(float(words[1]))
                    except:
                        print("Error", words[0], line)
                else:
                    return

                

def print_solution(m, gws, fdr):
    pick_team = m.get_variable('pick_team')
    pick_team_gw = m.get_variable('pick_team_gw')
    # Print solution
    selected_teams = []
    gameweek_picks = []
    for t in team_list:
        entry = {'team': t}
        if pick_team[t].get_value() > 0:
            selected_teams.append(t)
            for g in gws:
                entry.update({g: round(pick_team_gw[t,g].get_value() * fdr[t,g], 3) })
            gameweek_picks.append(entry)
    
    # Print and first table - values
    print(f'\nSelected: {" and ".join(selected_teams)}. Total FDR: {round(m.get_objective_value(),3)}, FDR per Fixture: {round(m.get_objective_value()/len(gws),2)}')
    pick_df = pd.DataFrame(gameweek_picks)
    s = pick_df.style
    colored_vals = lambda x: 'background-color: lightblue; color: black' if type(x) == float and x > 0 else 'color: black'
    s.applymap(colored_vals)
    # display(HTML(s.render().replace("000", "")))
    display(HTML(s.to_html(doctype_html=True).replace("000", "")))
    
    # Second table - names
    fr = fixture_original.reset_index()
    selected_fixture = fr[fr['team'].isin(selected_teams)].copy().reset_index(drop=True)
    selected_fixture = selected_fixture[['team'] + gws]
    s2 = selected_fixture.style
    def color_based_on_selection(cell):
        d = cell.copy()
        for c in d.columns:
            for r in d.index:
                if c == 'team':
                    d.loc[r,c] = ''
                elif pick_df.loc[r, c]:
                    d.loc[r, c] = 'background-color: green; color: white'
                else:
                    d.loc[r, c] = ''
        return d
    s2.apply(color_based_on_selection, axis=None)
    # display(HTML(s2.render().replace("000", "")))
    display(HTML(s2.to_html(doctype_html=True).replace("000", "")))
    return selected_teams

In [53]:
def solve_N_pair_problem(N=2, max_iter=1, first_gw=1, last_gw=38, among=[], exclude=[], hfa=0.0, rating_type='spi_rating'):
    fdr = get_fdr_with_hfa(hfa, rating_type)
    m = so.Model(name='N_rotation_pairs')
    team_list = list(teams.keys())
    gameweeks = list(range(first_gw, last_gw+1))
    pick_team = m.add_variables(team_list, vartype=so.binary, name='pick_team')
    pick_team_gw = m.add_variables(team_list, gameweeks, vartype=so.binary, name='pick_team_gw')

    if len(exclude) > 0:
        m.add_constraints((pick_team[t] == 0 for t in exclude), name='disable_team')
    if len(among) > 0:
        m.add_constraints((pick_team[t] == 0 for t in team_list if t not in among), name='disable_team')

    m.add_constraint(so.expr_sum(pick_team[t] for t in team_list) == N, name='pick_2')
    m.add_constraints((so.expr_sum(pick_team_gw[t, g] for t in team_list) == 1 for g in gameweeks), name='pick_1_per_gw')
    m.add_constraints((pick_team_gw[t,g] <= pick_team[t] for t in team_list for g in gameweeks), name='valid_picks_only')

    # Force using each team at least once
    m.add_constraints((so.expr_sum(pick_team_gw[t,g] for g in gameweeks) >= pick_team[t] for t in team_list), name='force_use')

    obj_mult = 1 if rating_type != 'def_rating' else -1
    m.set_objective(obj_mult * so.expr_sum(fdr[t, g] * pick_team_gw[t, g] for t in team_list for g in gameweeks), sense='N', name='total_fdr')

    m.export_mps("fdr.mps")
    # command = "cbc fdr.mps solve solu fdr.sol"
    command = "highs --model_file fdr.mps --solution_file fdr.sol"
    Popen(command).wait()
    read_solution(m, sol_file="fdr.sol", solver='highs')
    selected_teams = print_solution(m, gameweeks, fdr)
    for it in range(1, max_iter):
        c = m.add_constraint(so.expr_sum(pick_team[t] for t in selected_teams) <= N-1, name=f'cutoff_{it}')
        m.export_mps("fdr.mps")
        Popen(command).wait()
        read_solution(m, sol_file="fdr.sol", solver="highs")
        selected_teams = print_solution(m, gameweeks, fdr)

In [54]:
teams.keys()

dict_keys(['ARS', 'AVL', 'BOU', 'BRE', 'BHA', 'CHE', 'CRY', 'EVE', 'FUL', 'LEI', 'LEE', 'LIV', 'MCI', 'MUN', 'NEW', 'NFO', 'SOU', 'TOT', 'WHU', 'WOL'])

In [55]:
solve_N_pair_problem(N=1, max_iter=3, last_gw=8, hfa=0.0, rating_type='spi_rating')

NOTE: Initialized model N_rotation_pairs.

Selected: BHA. Total FDR: 553.27, FDR per Fixture: 69.16

Selected: BRE. Total FDR: 555.41, FDR per Fixture: 69.43

Selected: ARS. Total FDR: 557.81, FDR per Fixture: 69.73

In [56]:
solve_N_pair_problem(N=2, max_iter=3, last_gw=8, exclude=['LIV', 'MCI', 'CHE', 'ARS', 'TOT'], hfa=0.0, rating_type='spi_rating')

NOTE: Initialized model N_rotation_pairs.

Selected: NFO and WOL. Total FDR: 507.56, FDR per Fixture: 63.45

Selected: AVL and BRE. Total FDR: 513.8, FDR per Fixture: 64.23

Selected: AVL and BHA. Total FDR: 514.96, FDR per Fixture: 64.37

In [57]:
solve_N_pair_problem(N=2, max_iter=3, last_gw=8, exclude=['LIV', 'MCI', 'CHE'], hfa=0.0, rating_type='off_rating')

NOTE: Initialized model N_rotation_pairs.

Selected: LEE and TOT. Total FDR: 13.84, FDR per Fixture: 1.73

Selected: BHA and NEW. Total FDR: 13.86, FDR per Fixture: 1.73

Selected: TOT and WHU. Total FDR: 13.9, FDR per Fixture: 1.74

In [58]:
solve_N_pair_problem(N=2, max_iter=3, last_gw=8, exclude=['LIV', 'MCI', 'CHE'], hfa=0.0, rating_type='def_rating')

NOTE: Initialized model N_rotation_pairs.

Selected: ARS and WOL. Total FDR: -7.95, FDR per Fixture: -0.99

Selected: NFO and WOL. Total FDR: -7.94, FDR per Fixture: -0.99

Selected: BRE and WOL. Total FDR: -7.85, FDR per Fixture: -0.98

In [59]:
solve_N_pair_problem(N=2, max_iter=1, rating_type='off_rating')

NOTE: Initialized model N_rotation_pairs.

Selected: ARS and NEW. Total FDR: 67.88, FDR per Fixture: 1.79

In [60]:
solve_N_pair_problem(N=2, max_iter=1, rating_type='spi_rating')

NOTE: Initialized model N_rotation_pairs.

Selected: ARS and CHE and NEW and TOT. Total FDR: 2488.95, FDR per Fixture: 65.5

In [61]:
solve_N_pair_problem(N=3, max_iter=1, rating_type='spi_rating')

NOTE: Initialized model N_rotation_pairs.

Selected: ARS and BRE and LIV and MCI and NEW and TOT and WHU. Total FDR: 2380.09, FDR per Fixture: 62.63

In [62]:
# Free hit version
def solve_N_pair_problem_fh(N=2, max_iter=1, hfa=0.0, rating_type='spi_rating'):
    fdr = get_fdr_with_hfa(hfa, rating_type)
    m = so.Model(name='N_rotation_pairs')
    team_list = list(teams.keys())
    gameweeks = list(range(1,39))
    pick_team = m.add_variables(team_list, vartype=so.binary, name='pick_team')
    pick_team_gw = m.add_variables(team_list, gameweeks, vartype=so.binary, name='pick_team_gw')
    pick_free_hit = m.add_variables(team_list, gameweeks, vartype=so.binary, name='pick_free_hit')

    m.add_constraint(so.expr_sum(pick_team[t] for t in team_list) == N, name='pick_2')
    m.add_constraints((so.expr_sum(pick_team_gw[t, g] + pick_free_hit[t, g] for t in team_list) == 1 for g in gameweeks), name='pick_1_per_gw')
    m.add_constraints((pick_team_gw[t,g] <= pick_team[t] for t in team_list for g in gameweeks), name='valid_picks_only')
    m.add_constraint((so.expr_sum(pick_free_hit[t, g] for t in team_list for g in gameweeks) <= 1), name='single_free_hit')

    # Force using each team at least once
    m.add_constraints((so.expr_sum(pick_team_gw[t,g] for g in gameweeks) >= pick_team[t] for t in team_list), name='force_use')

    obj_mult = 1 if rating_type != 'def_rating' else -1
    m.set_objective(obj_mult * so.expr_sum(fdr[t, g] * (pick_team_gw[t, g] + pick_free_hit[t,g]) for t in team_list for g in gameweeks), sense='N', name='total_fdr')

    m.export_mps("fdr.mps")
    # command = "cbc fdr.mps solve solu fdr.sol"
    command = "highs --model_file fdr.mps --solution_file fdr.sol"
    Popen(command).wait()
    read_solution(m, "fdr.sol", "highs")

    def print_free_hit_sol():
        selected_teams = []
        gameweek_picks = []
        for t in team_list:
            entry = {'team': t}
            if pick_team[t].get_value() > 0 or so.expr_sum(pick_free_hit[t,g] for g in gameweeks).get_value() > 0:
                selected_teams.append(t)
                for g in gameweeks:
                    entry.update({g: round((pick_team_gw[t,g] + pick_free_hit[t,g]).get_value() * fdr[t,g], 3) })
                gameweek_picks.append(entry)
        print(f'Selected: {" and ".join(selected_teams)}. Total FDR: {round(m.get_objective_value(),3)}')
        pick_df = pd.DataFrame(gameweek_picks)
        s = pick_df.style
        colored_vals = lambda x: 'background-color: lightblue; color: black' if type(x) == float and x > 0 else 'color: black'
        s.applymap(colored_vals)
        display(HTML(s.to_html(doctype_html=True).replace("000", "")))

        # Second table - names
        fr = fixture_original.reset_index()
        selected_fixture = fr[fr['team'].isin(selected_teams)].copy().reset_index(drop=True)
        s2 = selected_fixture.style
        def color_based_on_selection(cell):
            d = cell.copy()
            for c in d.columns:
                for r in d.index:
                    if c == 'team':
                        d.loc[r, c] = ''
                    elif pick_df.loc[r, c]:
                        d.loc[r, c] = 'background-color: green; color: white'
                    else:
                        d.loc[r, c] = ''
            return d
        s2.apply(color_based_on_selection, axis=None)
        display(HTML(s2.to_html(doctype_html=True)))

        return selected_teams

    selected_teams = print_free_hit_sol()
    for it in range(1, max_iter):
        c = m.add_constraint(so.expr_sum(pick_team[t] for t in selected_teams) <= N-1, name=f'cutoff_{it}')
        m.export_mps("fdr.mps")
        Popen(command).wait()
        read_solution(m, "fdr.sol", "highs")
        selected_teams = print_free_hit_sol()

In [63]:
# solve_N_pair_problem_fh(2, 3, rating_type='spi_rating')

In [64]:
solve_N_pair_problem(N=2, max_iter=1, first_gw=1, last_gw=10)

NOTE: Initialized model N_rotation_pairs.

Selected: AVL and BRE. Total FDR: 629.24, FDR per Fixture: 62.92

In [65]:
def solve_N_pick_K_pair_problem(N=3, K=2, max_iter=1, first_gw=1, last_gw=38, exclude=[], hfa=0.0, rating_type='spi_rating'):
    if last_gw > 38:
        return ["-"]
    fdr = get_fdr_with_hfa(hfa, rating_type)
    problem_name = get_random_id(10)
    m = so.Model(name=f'N_K_rotation_problem_name')
    team_list = list(teams.keys())
    gameweeks = list(range(first_gw, last_gw+1))
    pick_team = m.add_variables(team_list, vartype=so.binary, name='pick_team')
    pick_team_gw = m.add_variables(team_list, gameweeks, vartype=so.binary, name='pick_team_gw')

    if len(exclude) > 0:
        m.add_constraints((pick_team[t] == 0 for t in exclude), name='disable_teams')

    m.add_constraint(so.expr_sum(pick_team[t] for t in team_list) == N, name='pick_2')
    m.add_constraints((so.expr_sum(pick_team_gw[t, g] for t in team_list) == K for g in gameweeks), name='pick_1_per_gw')
    m.add_constraints((pick_team_gw[t,g] <= pick_team[t] for t in team_list for g in gameweeks), name='valid_picks_only')

    # Force using each team at least once
    m.add_constraints((so.expr_sum(pick_team_gw[t,g] for g in gameweeks) >= pick_team[t] for t in team_list), name='force_use')

    obj_mult = 1 if rating_type != 'def_rating' else -1
    m.set_objective(obj_mult * so.expr_sum(fdr[t, g] * pick_team_gw[t, g] for t in team_list for g in gameweeks), sense='N', name='total_fdr')

    m.export_mps(f"tmp/{problem_name}.mps")
    command = f"highs --model_file tmp/{problem_name}.mps --solution_file tmp/{problem_name}.sol"
    # command = f"cbc tmp/{problem_name}.mps solve solu tmp/{problem_name}.sol"
    Popen(command).wait()
    read_solution(m, f'tmp/{problem_name}.sol', 'highs')
    selected_teams = print_solution(m, gameweeks, fdr)
    for it in range(1, max_iter):
        c = m.add_constraint(so.expr_sum(pick_team[t] for t in selected_teams) <= N-1, name=f'cutoff_{it}')
        m.export_mps(f"tmp/{problem_name}.mps")
        Popen(command).wait()
        read_solution(m, f'tmp/{problem_name}.sol', 'highs')
        selected_teams = print_solution(m, gameweeks, fdr)

    return selected_teams

In [66]:
solve_N_pick_K_pair_problem(first_gw=1, last_gw=38, max_iter=1, rating_type='spi_rating')

NOTE: Initialized model N_K_rotation_problem_name.

Selected: BHA and CHE and WHU. Total FDR: 5140.39, FDR per Fixture: 135.27

['BHA', 'CHE', 'WHU']

In [67]:
solve_N_pick_K_pair_problem(first_gw=1, last_gw=10, max_iter=1, exclude=['MCI'])

NOTE: Initialized model N_K_rotation_problem_name.

Selected: AVL and BRE and TOT. Total FDR: 1306.43, FDR per Fixture: 130.64

['AVL', 'BRE', 'TOT']

In [68]:
solve_N_pick_K_pair_problem(N=4, K=3, first_gw=1, last_gw=38, max_iter=1)

NOTE: Initialized model N_K_rotation_problem_name.

Selected: ARS and LEI and MCI and NEW. Total FDR: 7837.5, FDR per Fixture: 206.25

['ARS', 'LEI', 'MCI', 'NEW']

In [69]:
solve_N_pick_K_pair_problem(first_gw=1, last_gw=38, max_iter=1, exclude=['MCI', 'CHE', 'LIV', 'MUN'])

NOTE: Initialized model N_K_rotation_problem_name.

Selected: AVL and BHA and TOT. Total FDR: 5151.51, FDR per Fixture: 135.57

['AVL', 'BHA', 'TOT']

In [70]:
solve_N_pick_K_pair_problem(first_gw=1, last_gw=10, max_iter=1, exclude=['MCI', 'CHE', 'LIV', 'MUN'])

NOTE: Initialized model N_K_rotation_problem_name.

Selected: AVL and BRE and TOT. Total FDR: 1306.43, FDR per Fixture: 130.64

['AVL', 'BRE', 'TOT']

In [71]:
solve_N_pick_K_pair_problem(N=3, K=2, first_gw=1, last_gw=38, max_iter=1, exclude=['MCI', 'CHE', 'LIV', 'MUN', 'LEI', 'ARS', 'TOT'])

NOTE: Initialized model N_K_rotation_problem_name.

Selected: BRE and BHA and FUL. Total FDR: 5153.2, FDR per Fixture: 135.61

['BRE', 'BHA', 'FUL']

In [72]:
solve_N_pair_problem(N=2, first_gw=1, last_gw=19, max_iter=1)

NOTE: Initialized model N_rotation_pairs.

Selected: ARS and NEW. Total FDR: 1243.62, FDR per Fixture: 65.45

In [73]:
solve_N_pair_problem(N=2, first_gw=1, last_gw=19, max_iter=1, exclude=['MCI', 'CHE', 'LIV', 'MUN', 'LEI', 'ARS', 'TOT'])

NOTE: Initialized model N_rotation_pairs.

Selected: BHA and FUL. Total FDR: 1249.25, FDR per Fixture: 65.75

In [74]:
from concurrent.futures import ProcessPoolExecutor, ThreadPoolExecutor
from itertools import repeat
gw_range = list(range(1,1))
start_gw = list(range(1,5))
all_pairs = [(sw, g) for sw in start_gw for g in gw_range]
# for gw_range in range(1, 10):
#     solve_N_pick_K_pair_problem(N=1, K=1, first_gw=1, last_gw=1+gw_range-1, max_iter=1, hfa=0.15)
with ThreadPoolExecutor(max_workers=16) as executor:
    res = list(executor.map(lambda x: solve_N_pick_K_pair_problem(**x), [{'N': 1, 'K': 1, 'first_gw': sw, 'last_gw': sw+g-1, 'max_iter': 1, 'hfa': 0.0} for sw in start_gw for g in gw_range]))

all_res = list(zip(all_pairs, res))
all_res

[]

In [75]:
solve_N_pick_K_pair_problem(N=2, K=1, max_iter=1, first_gw=1, last_gw=8, exclude=[], rating_type='def_rating')

NOTE: Initialized model N_K_rotation_problem_name.

Selected: ARS and WOL. Total FDR: -7.95, FDR per Fixture: -0.99

['ARS', 'WOL']

In [76]:
solve_N_pick_K_pair_problem(N=2, K=1, max_iter=1, first_gw=1, last_gw=8, exclude=['MCI', 'LIV', 'ARS', 'TOT', 'CHE'], rating_type='def_rating')

NOTE: Initialized model N_K_rotation_problem_name.

Selected: NFO and WOL. Total FDR: -7.94, FDR per Fixture: -0.99

['NFO', 'WOL']

In [77]:
solve_N_pick_K_pair_problem(N=2, K=1, max_iter=1, first_gw=1, last_gw=8, exclude=[], rating_type='off_rating')

NOTE: Initialized model N_K_rotation_problem_name.

Selected: MCI and NEW. Total FDR: 13.5, FDR per Fixture: 1.69

['MCI', 'NEW']

In [78]:
solve_N_pick_K_pair_problem(N=2, K=1, max_iter=1, first_gw=1, last_gw=8, exclude=['MCI', 'LIV', 'ARS', 'TOT', 'CHE'], rating_type='off_rating')

NOTE: Initialized model N_K_rotation_problem_name.

Selected: BHA and NEW. Total FDR: 13.86, FDR per Fixture: 1.73

['BHA', 'NEW']

In [79]:
solve_N_pick_K_pair_problem(N=3, K=2, max_iter=1, first_gw=1, last_gw=8, exclude=[], rating_type='spi_rating')

NOTE: Initialized model N_K_rotation_problem_name.

Selected: ARS and NFO and WOL. Total FDR: 1047.86, FDR per Fixture: 130.98

['ARS', 'NFO', 'WOL']

In [80]:
solve_N_pick_K_pair_problem(N=3, K=2, max_iter=1, first_gw=1, last_gw=8, exclude=['MCI', 'LIV', 'ARS', 'TOT', 'CHE'], rating_type='spi_rating')

NOTE: Initialized model N_K_rotation_problem_name.

Selected: BHA and NFO and WOL. Total FDR: 1048.49, FDR per Fixture: 131.06

['BHA', 'NFO', 'WOL']